demo-schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2017 sp2 (x64) (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:child="demo-van-prefix-voor-een-namespace" xmlns:xml="http://www.w3.org/XML/1998/namespace">
	<xs:import namespace="demo-van-prefix-voor-een-namespace" schemaLocation="demo-schema1.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="voorbeeld">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="child:hallo"/>
				<xs:element ref="child-hallo"/>
				<xs:element ref="child_hallo"/>
				<xs:element ref="childHallo"/>
				<xs:element ref="childhallo"/>
			</xs:sequence>
			<xs:attribute name="extra" use="required" type="xs:string"/>
			<xs:attribute name="ander" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="childHallo">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="childhallo">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="child-hallo">
		<xs:complexType>
		</xs:complexType>
	</xs:element>
	<xs:element name="child_hallo">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_child_hallo">
					<xs:attribute name="attr" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute ref="xml:lang" use="required"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="ST_child_hallo">
		<xs:restriction base="xs:string">
			<xs:enumeration value="asdf"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
